.Card {
    padding: 15px;
    margin: 0 30px;
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    width: 380px;
    display: inline-block;
}

.ThumbnailContainer {
    height: 280px;
    overflow: hidden;
}
.ThumbnailContainer:hover .Thumbnail {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.Thumbnail {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}