/* Container */
$transition: all 0.2s ease-in-out;
.Container {
    position: fixed;
    top: -25%;
    width: 75%;
    left: 50%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    
    &.Animation {
        top: 30px;
        opacity: 1;
        z-index: 999999;
    }
    
    &.Large {
        width: 90%;
        left: 5%;
        transform: none;
    }
    
    &.Small { width: 480px; }
}

@media(max-width: 767px) {
    .Container, .Container.Large { 
        width: calc(100% - 30px);
        left: 15px;
        transform: none;
    }
    .Container.Small {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media(max-width: 510px) {
    .Container.Small { 
        width: calc(100% - 30px);
        left: 15px;
        transform: none;
    }
}

/* Header */
.Header {
    padding: 15px;
    display: flex;
}
.Title {
    flex-grow: 3;
    font-size: 1.1rem;
    color: #333;
    margin: 0;
}
.CloseButton {
    display: inline-block;
    background: #fff;
    color: #000;
    line-height: 26px;
    font-size: 28px;
    text-align: center;
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: $transition;
    cursor: pointer;
    
    &:hover, &:focus {
        background: #fff;
        color: #f0141e;
        transition: $transition;
    }
}

/* Body */
.Body { 
    max-height: calc(100vh - 209px);
    padding: 0 15px 15px; 
    overflow-y: auto;

    .Detail {
        display: flex;
        flex-wrap: nowrap;
    }

    .Thumbnail {
        img {
            max-height: 480px;
        }
    }

    .Text {
        padding: {
            left: 30px;
            right: 15px;
        }
        color: #757575;
        width: 100%;
    }

    p { margin: 0 0 15px; }

    .ComicDescription {
        font-size: 1rem;
        color: #757575;
        text-align: justify;
        margin: 30px 0;
    }
    .ComicPrice {
        font-size: 1.8rem;
        color: #575757;
        font-weight: bold;
    }

    .DigitalIssue {
        display: inline-block;
        font-size: 0.9rem;
        color: #ee1c25;
        text-decoration: none;
        padding: 2px 4px;
        margin-bottom: 15px;
        border: 1px solid #ee1c25;
        border-radius: 2px;
        transition: $transition;
        
        &:hover {
            background: #ee1c25;
            color: #fff;
            transition: $transition;
        }
    }
}
.ComicTitle {
    font-size: 1.2rem;
    color: #000;
    margin: 0 0 15px;
}

.Cancel {
    background: #fff;
    border: 0;
    box-shadow: none;
    color: #202020;
    
    &:hover { 
        color: #000; 
        box-shadow: none;
        background: #fff;
    }
}

.URLArea {
    padding-top: 10px;
    margin: 30px 0 0;
    border-top: 1px dotted #9e9e9e;
}
.URLButton {
    display: inline-block;
    background: #fff;
    font: {
        weight: 700;
        size: .75rem;
    }
    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }
    color: #000;
    letter-spacing: 1px;
    padding: 8px 24px;
    border: 0;
    box-shadow: inset 0 0 0 2px #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


    &:hover {
        background: #e62429;
        color: #fff;
        box-shadow: inset 0 0 0 2px #e62429;
        transition: all 0.2s ease-in-out;
    }

    + .URLButton { margin-left: 5px; }
}

/* Footer */
.Footer {
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
}