/* Container */
$transition: all 0.2s ease-in-out;
.Container {
    position: fixed;
    top: -25%;
    width: 75%;
    left: 50%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index: 1;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    
    &.Animation {
        top: 30px;
        opacity: 1;
        z-index: 999999;
    }
    
    &.Large {
        width: 90%;
        left: 5%;
        transform: none;
    }
    
    &.Small { width: 480px; }
}

@media(max-width: 767px) {
    .Container, .Container.Large { 
        width: calc(100% - 30px);
        left: 15px;
        transform: none;
    }
    .Container.Small {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media(max-width: 510px) {
    .Container.Small { 
        width: calc(100% - 30px);
        left: 15px;
        transform: none;
    }
}

/* Header */
.Header {
    padding: 15px;
    display: flex;
}
.Title {
    flex-grow: 3;
    font-size: 1.1rem;
    color: #333;
    margin: 0;
}
.CloseButton {
    display: inline-block;
    background: #fff;
    color: #000;
    line-height: 26px;
    font-size: 28px;
    text-align: center;
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: $transition;
    cursor: pointer;
    
    &:hover, &:focus {
        background: #fff;
        color: #f0141e;
        transition: $transition;
    }
}

/* Body */
.Body { 
    max-height: calc(100vh - 209px);
    padding: 0 15px 15px; 
    overflow-y: auto;

    .Detail {
        display: flex;
        flex-wrap: nowrap;
    }

    .Thumbnail {
        img {
            max-height: 480px;
        }
    }

    .Text {
        padding-left: 30px;
    }
}
.Cancel {
    background: #fff;
    border: 0;
    box-shadow: none;
    color: #202020;
    
    &:hover { 
        color: #000; 
        box-shadow: none;
        background: #fff;
    }
}

/* Footer */
.Footer {
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
}