.Container {
    list-style: none;
    font-size: 1.25rem;
    padding: 0;
    margin: 0 0 5px;
}
.Container > li {
    display: inline-block;
}
.Container > li + li { margin-left: 4px;}
.Container > li a {
    color: #202020;
    transition: all 0.2s ease-in-out;
}
.Container > li a:hover {
    color: #000;
    transition: all 0.2s ease-in-out;
}